/*-----------reservationList.jsx---------------*/
/*리스트 전체*/
.store-reservation-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

/*오늘, 내일, 날짜*/
.store-date-label {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 0.1rem 0;
}

/*행*/
.store-reservation-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid #e6eaf2;
  background-color: #ffffff;
  font-size: 0.875rem;
  color: var(--text-sub, #717182);
  width: 100%;
}

/*-----------reservation_row.jsx---------------*/
.store-reservation-item {
  flex: 1;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.break-text {
  word-break: break-all;
  width: 100%;
  text-align: center;
}

.store-reservation-row img {
  width: 0.825rem;
  height: auto;
}

.icon-search {
  margin-right: 5px;
}

/* 상태 표시 버튼(항상 disabled) */
.store-reservation-row button {
  display: flex;
  width: 6rem;
  height: 30px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  font-size: 0.85rem;
  border-radius: 0.875rem;
  font-weight: 400;
  border: none;

  /* 기본(픽업 전) 컬러 */
  background: var(--color-primary);
  color: #ffffff;
}

/* 클릭 불가이므로 포인터/호버 제거 + 톤다운 */
.store-reservation-row button:disabled {
  cursor: default;
  opacity: 0.9; /* 너무 흐릿하진 않게만 */
  pointer-events: none; /* 혹시 모를 클릭 완전 차단 */
}

/* 픽업 전(기본) */
.status-pending button {
  background: var(--color-primary);
  color: #ffffff;
}

/* 픽업 완료 */
.status-pickup-done button {
  border: 0.821px solid rgba(201, 127, 0, 0.2);
  background: rgba(201, 111, 0, 0.1);
  color: var(--color-primary);
}

/* 작성 완료 */
.status-done button {
  border: 0.821px solid rgba(201, 127, 0, 0.2);
  background: rgba(201, 111, 0, 0.1);
  color: var(--color-primary);
  font-weight: 500; /* 완료 느낌 살짝 */
}
